* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: purple;
    background: rgb(212, 133, 121);
}

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 60px 20px;
    background: rgb(212, 133, 121);
}

.home img {
    padding: 60px 0 auto auto;
    border-radius: 20px;
    box-shadow: 4px 4px 5px #575757;
}

.home .intro-box {
    color: purple;
}

.home .intro-box h2 {
    font-size: 120px;
    font-weight: bold;
}

.home .intro-box p {
    font-size: 20px;
    line-height: 1.8;
    margin-top: 34px;
}

.btn {
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
    width: 240px;
}

.btn:hover {
    background-color: purple;
    color: white;
}


.block-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: purple;
    color: white;
}

.block-two div {
    padding: 60px 20px;
}
.block-two h4 {
    font-size: 24px;
}

.block-two h2 {
    font-size: 60px;
    font-weight: bold;
    padding-top: 20px;
}

.block-two p {
    padding-top: 32px;
    font-size: 20px;
    line-height: 1.4;
}

.block-two ul {
    font-size: 20px;
    line-height: 1.4;
}

.block-three {
    background: purple;
}

.block-three h2 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding-top: 60px;
    color: #ccc;

}

.block-three #txt {
    font-size: 20px;
    line-height: 1.4;
    margin: 20px auto;
    color: #ccc;
    text-align: center;
}

.flex-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-bottom: 60px;
}

.items {
    background: #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #575757;
}

.items img {
    width: 404px;
    height: 326px;
    border-radius: 10px;
}

.items h5 {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.items p {
    margin: 20px;
    font-size: 18px;
    text-align: center;
}

.block-four {
    display: flex;
    flex-direction: column;
    background: purple;
    color: #ccc;
}

.block-four h2 {
    padding-top: 60px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.block-four p {
    font-size: 20px;
    margin: 50px auto;
    text-align: center;
}

.block-four button {
    margin: 0 auto 60px auto;
}

.block-five {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: rgb(212, 133, 121);
    padding: 60px 20px;
    gap: 30px;
}

.block-five .personal-info {
    background: purple;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 60px 20px;
    color: #f1f1f1;
}

.block-five .personal-info h6 {
    font-size: 14px;
}

.block-five .personal-info p, i {
    padding: 12px 1px;
    font-size: 18px;
}

.experience-info .counter {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.experience-info .counter p {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 27px;
}

.experience-info .counter span {
    font-size: 72px;
    font-weight: bold;
    color: #ccc;
}

.experience-info h2 {
    font-size: 60px;
    font-weight: bold;
    color: purple;
    padding-top: 60px;
}

.experience-info p {
    font-size: 18px;
    color: purple;
    padding-top: 40px;
    line-height: 2;
}

.experience-info button {
    margin-top: 40px;
}

.block-six {
    background: purple;
}

.block-six h2 {
    font-size: 60px;
    font-weight: bold;
    padding-top: 60px;
    text-align: center;
    color: #ccc;
}

.review-items {
    padding: 40px 20px 60px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.review-items .review-item {
    padding: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px #575757;
    background: #fff;

}

.review-items .review-item i {
    color: rgb(212, 133, 121);
    font-size: 43px;
}

.review-items .review-item p {
    font-size: 18px;
    padding-top: 20px;
}

.reviewer {
    padding-top: 26px;
    display: flex;
    align-items: center;
    gap: 30px;

}

.reviewer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.reviewer div h5 {
    font-size: 20px;
    font-weight: bold;
    color: purple;
    padding-bottom: 7px;
}


.block-seven {
    background: rgb(212, 133, 121);
    padding: 60px 20px;
    color: purple;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.block-seven h2 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.block-seven p {
    font-size: 20px;
    text-align: center;
}

.block-seven form {
    text-align: center;
}

.block-eight {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(212, 133, 121);
}

.block-eight .column-one-content {
    padding: 60px 40px;
    color: purple;

}

.block-eight .column-one-content h2 {
    font-size: 60px;
    font-weight: bold;
}

.block-eight .column-one-content p {
    padding-top: 30px;
    font-size: 20px;
}

.block-eight .column-one-content form {
    padding-top: 30px;
}

.block-eight .column-one-content input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgb(212, 133, 121);
    border: none;
}

.block-eight .column-two-content {
    background: purple;
    padding: 60px 40px;
}

.block-eight .column-two-content p {
    font-size: 22px;
    padding-top: 46px;
}

.my {
    padding-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: rgb(212, 133, 121);
}

.my img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.my h5 {
    font-size: 30px;
    font-weight: bold;
}

.my h6 {
    font-size: 18px;
    padding-top: 13px;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}


@media screen and (max-width: 480px) {
    .home {
        display: grid;
        grid-template-columns: auto;
        gap: 50px;
    }
    .home h2 {
        padding-right: 20px;
    }

    .home img {
        width: 300px;
    }
    .intro-box h2 {
        font-size: 102px;
    }
    .block-two {
        display: grid;
        grid-template-columns: auto;
    }
    .block-two ul {
        padding-left: 20px;
    }
    .flex-box {
        display: grid;
        grid-template-columns: auto;
    }
    .items img {
        width: 360px;
    }
    .block-five {
        display: grid;
        grid-template-columns: auto;
    }
    .review-items {
        display: grid;
        grid-template-columns: auto;
    }
    .block-eight {
        display: grid;
        grid-template-columns: auto;
    }
    .my {
        flex-direction: column;
    }
}